<!DOCTYPE html>
    <html lang="en">
        <head>
            <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/checkout.css">
                <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/243ba828f2.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>   
       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCV9ElwnaA8bjRVvfd6XTpoLQRALW4rPk&libraries=places,geometry"></script>

        <script src="/static/checkout.js" defer></script>
        <script src = "https://checkout.stripe.com/checkout.js" defer></script>
         <script src="https://js.stripe.com/v3/"></script>
        <meta charset="UTF-8">
        <title>Checkout</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script>
            const stripe_public_key = '{{stripePublicKey}}';
            const clientSecret = '{{clientSecret}}';
            const total = '{{total}}';
            const paymentIntentid = '{{paymentIntentid}}';
        </script>
 
       </head>
  
        <body>
            
                <div class = "header">
                    <div class = "divider-header">
                        <div class = "header-options"> 
                            <a href ="/">ABOUT</a>
                        </div>
                        <div class = "header-options"> 
                            <a href ="/menu">MENU</a>
                        </div>

                        <div class = "header-options-logo"> 
                        <a href ="/">DOYDOY'S &nbsp;&nbsp;BAKE&nbsp;&nbsp;SHOP</a>
                        </div>

                        <div class = "header-options"> 
                            <a href ="/">CONTACT&nbsp;&nbsp;US</a>
                        </div>

                        <div class = "header-options"> 
                           <a href ="/">LOGIN</a> 
                        </div>
                    </div>   
                    <div class="divider-icons">
                        <i class="fa-sharp fa-solid fa-user fa-lg"></i>
                       <i class="fa-sharp fa-solid fa-cart-shopping fa-lg"></i>
                    </div>
                    
                </div>
            <div class="page">
                <div class = "content">
                    <div class = "summary">
                        <div class = "summary-desc">
                            <div class = "summary-header">
                                Order Summary
                            </div>
                            <div class ="summary-header-desc">
                                Review all of your Items, as well as the shipping info before ordering. Feel free edit/remove products from this point.
                            </div>
                            <hr class="line">
                        </div>
                        
                        <div class = "cart-body">
                                <div class="cart-rows-header">
                                    <div class="cart-rows-header-text">Product</div>
                                    <div class="cart-rows-header-text"></div>
                                    <div class="cart-rows-header-text">Quantity</div>
                                    <div class="cart-rows-header-text">Price</div>
                                    <div class="cart-rows-header-text">Total</div>
                                 
                                </div>
                            <div class="cart-rows">

                                {{#each cart.dataValues.Items}}
                                <div class="cart-row" id="1-cartRow">
                                    <div class="cart-rows-item-image">
                                        {{#each this.dataValues.Product.dataValues.Images}}
                                            {{#if this.dataValues.main}}
                                        <img class="product-image-cart" src='{{this.dataValues.path}}'>
                                            {{/if}}
                                    {{/each}}
                                    </div>
                                    <div class="cart-rows-item-name">{{this.dataValues.Product.dataValues.productName}}</div>
                                    <div class="cart-rows-item-quantity">{{this.dataValues.quantity}}</div>
                                    <div class="cart-rows-item-price">{{this.dataValues.Product.dataValues.price}}</div>
                                    <div class="cart-rows-item-total">{{#multiply}} {{this.dataValues.quantity}} {{this.dataValues.Product.dataValues.price}}{{/multiply}}</div>
                                   
                                </div>
                                {{/each}}

                                </div>
                            <hr class="line">
                        </div>
                        <div class = "shipping-options">
                            <div class="shipping-header">
                                Available Shipping Options
                            </div>
                            <div class="option-container">
                                 {{#each delivery}}
                                <div id='{{this.dataValues.DeliveryType}}' class="shipping-row" >
                                   
                                    <div class="shipping-rows-item-image">
                                          <i class='{{this.dataValues.DeliveryImage}}'></i>
                                    </div>
                                    <div class = "shipping-name-desc">
                                        <div class = "shipping-name">
                                           {{this.dataValues.DeliveryType}}
                                        </div>
                                        <div class = "shipping-desc">
                                            {{this.dataValues.DeliveryDescription}}
                                        </div>

                                    </div>
                                    <div class = "select-shipping">
                                        <div class = "shipping-price">
                                            $  {{this.dataValues.price}}
                                        </div>
                                        <div class = "shipping-select">
                                            <input class="shipping-select-radio" type="radio" name="deliveryMethod" value='{{this.dataValues.DeliveryType}}'>
                                        </div>

                                    </div>

                                </div>
                                {{/each}}
                            

                            </div>

                        </div>
                    </div>
                    <div class = "payment-details">
                        <div class = "payment-desc">
                            <div class = "payment-header">
                                Payment Information
                            </div>
                            <div class ="payment-header-desc">
                                Complete your payment information to send the order in!
                            </div>
                            <hr class="line">
                        </div>
                        
                        <form method = "POST" id = "checkout" class = "checkout-form">
                           
                            <div id = "link-auth-element">

                            </div>
                            <div id = "card-element">
                                
                            </div>
                            <div id="address-element">
                            <!-- Elements will create form elements here -->
                            </div>

                            <div class = "buy-container">
                <button id = "submit-button" type="submit" class="pay">
                                    Pay ${{total}}
                        </button>

                            </div>
        


                        </form>
                    </div>


                </div>



            </div>
            

            

        </body>
    </html>