<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/dashboardOptions.css">
      <script src="https://kit.fontawesome.com/243ba828f2.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>


          <script type ="text/html" src = "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyCCV9ElwnaA8bjRVvfd6XTpoLQRALW4rPk"></script>
        
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCV9ElwnaA8bjRVvfd6XTpoLQRALW4rPk&libraries=places&callback=initialize"></script>

    <meta charset="UTF-8">
    <title>Options</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>

    <div class = "navbar-dashboard">
            <div class = "company"> 
                <div class = "company-logo">
                    
                </div>
                <div class = "company-name">
                    DOYDOY's BAKE SHOP
                </div>
            </div>
            <div class = "dashboard-menu">
                <div class="dashboard-menu-options">

                    <div class="d-menu-options-header">
                        <div class = "d-menu-options-icon">
                            
                            <i class="fa-sharp fa-solid fa-list white"></i>
                        </div>
                        <div class="d-menu-options-text-header">NAVIGATION</div>
                    </div>
                    <a href="/adminpannel"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            
                            <i class="fa-sharp fa-solid fa-desktop white"></i>
                        </div>
                        <div class="d-menu-options-text"> M a i n  &nbsp; D a s h</div>
                    </a>
                    <a href="/dashboard/products"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class=" fa-sharp fa-solid fa-box white"></i>
                        </div>
                        <div class="d-menu-options-text"> P r o d u c t s</div>
                    </a>
                    
                    <a href="/dashboard/orders" class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-boxes-packing white"></i>
                        </div>
                        
                        <div class="d-menu-options-text"> O r d e r s</div>
                    </a>


                    <a href="/"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-dollar-sign white"></i>
                        </div>
                        
                        <div class="d-menu-options-text"> E a r n i n g s</div>
                    </a>
                    




                    <a href="/"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-users white"></i>
                        </div>
                        
                        <div class="d-menu-options-text">A c c o u n t s</div>
                    </a>
                    
                    <a href="/dashboard/visitors"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-user-secret white"></i>
                        </div>
                        
                        <div class="d-menu-options-text">V i s i t o r s</div>
                    </a>
                    
                    <a href="/dashboard/options"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-gears white"></i>
                        </div>
                        
                        <div class="d-menu-options-text"> O p t i o n s</div>
                    </a>
                    
        
                </div>
                    <a href ="/" class="d-menu-options-logout">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-door-open white"></i>
                        </div>
                        
                        <div class="d-menu-options-text"> L O G &nbsp; O U T</div>
                    </a>

            </div>

        </div>
    <div class = "page">
        <div class="dashcontent-update">
            <div class = "header-update">
                <div class = "divider-header">

                <div class = "circle ">

                </div>
                <div class = "header-options-logo"> 
                    Options
                </div>



                </div> 
            </div> 
            <div class="content">
                <div class="options">
                    <div class="option-container-s">
                        <div class="option">
                            <div class="image">
                                <i class="fa-solid fa-store fa-3x"></i>
                            </div>
                            <div class="description">
                                S T O R E &nbsp; O P T I O N S
                            </div>
                        </div>
                    </div>

                    <div class="option-container-s">
                        <div class="option">
                            <div class="image">
                                <i class="fa-sharp fa-solid fa-wallet fa-3x"></i>
                            </div>
                            <div class="description">
                                P A Y M E N T &nbsp; S E T T I N G S
                            </div>
                        </div>
                    </div>

                    
                    <div class="option-container-s">
                        <div class="option">
                            <div class="image">
                                <i class="fa-sharp fa-solid fa-mailbox FA-3X"></i>
                            </div>
                            <div class="description">
                                M A I L &nbsp; S E T T I N G S
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "display">
                        <div class = "shipping-desc-title">
                            <div class = "shipping-header">
                                Store Options
                            </div>
                            <div class ="shipping-header-desc">
                                Edit store information such as hours, background, and location.
                            </div>
                            <hr class="line">
                        </div>
                        
                        <form id = "store-options" class="store-options">
                            <div class="shipping-options-header">
                                <div class="shipping-options-header-text">Store location</div>
                                
                                <div class="get-location">
                                    <div class="input-field">
                                        <i class="fa-sharp fa-solid fa-location-dot"></i>
                                        <input value = '{{options.dataValues.storeLocation}}' name="store_address" placeholder="Store address" id="fullname" class="input-text-box location" type="text">
                                    </div>
                                    
                                    <button id="add-shipping-button" class="add-shipping-button">
                                            <i class="fa-sharp fa-solid fa-location-dot"></i>
                                            <div class="add-shipping-button-text get-current-location">Current Location</div>
                                    </button>
                                </div>
                
                            </div>

                            <div class="shipping-options-header">
                                <div class="shipping-options-header-text">Maximum Delivery Distance</div>
                                
                                <div class="get-location">
                                    <div class="input-field-distance-units">
                                        <div class="input-field-distance">
                                        <i class="fa-solid fa-ruler"></i>
                                            <input name="max_delivery_distance" placeholder="Ex: 50" id="fullname" value = '{{options.dataValues.maximumDeliveryDistance}}' class="input-text-box" type="text">
                                        </div>
                                        <select id="currency" name="unit" value = '{{options.dataValues.unit}}' class="distance-unit" type="text" required="">
                                            <option value="KM">KM</option>
                                            <option value="Miles">Miles</option>
                                        </select>
                                    </div>
                                    <button id="add-shipping-button" class="add-shipping-button">
                                            <div class="add-shipping-button-text">Set Distance</div>
                                    </button>
                                </div>
                
                            </div>

                            <div class="shipping-options-header">
                                <div class="shipping-options-header-text">Set Taxes</div>
                                
                                <div class="get-location">
                                    <div class="input-field-distance-units">
                                        <div class="input-field-distance">
                                        <i class="fa-solid fa-money-bill-transfer"></i>
                                            <input name="precentage_tax" placeholder="Ex: 50" id="fullname" value = '{{options.dataValues.maximumDeliveryDistance}}' class="input-text-box" type="text">
                                        </div>
                                        <div id="currency" class="precentageTax" type="text" required="">
                                            %
                                        </div>
                                    </div>
                                    <button id="add-shipping-button" class="add-shipping-button">
                                            <div class="add-shipping-button-text">Set Tax</div>
                                    </button>
                                </div>
                
                            </div>

                            

                            <div class="shipping-options-header">
                                <div class="shipping-options-header-text">Store Hours</div>
                                <div class= "store-hours">
          

                                    <div class="from-to-when">
                                        
                                        {{#each options.dataValues.StoreHours}}
                                            <div id='{{this.dataValues.weekDay}}' class = "container-hours-from">
                                               
                                                <div class="day">{{this.dataValues.weekDay}}</div>
                                                
                                                <input name="{{this.dataValues.weekDay}}_from" value = '{{this.dataValues.startTime}}' placeholder="8:30" id="fullname" class="time-input" type="time" maxlength="5" required>
                                                             <div class = "conatiner-to">
                                                        To 
                                                    </div>

                                                <input name="{{this.dataValues.weekDay}}_to"  value = '{{this.dataValues.endTime}}' placeholder="8:30" id="fullname" class="time-input" type="time" maxlength="5" required>
                                                 <div class ="alert"></div>
                                            </div>
                                         {{/each}}   

                                         
            
                                    </div>



    
                                </div>
                    
                                
                
                            </div>

                            <div>

                            </div>

                            <div class="right">
                                <button id="add-shipping-button" class="save-button">
                                    <div class="add-shipping-button-text">Save</div>
                                </button>
                            </div>
              

                            <hr class="line">
                        </form>
                        

                        
                </div>
            </div>



        </div>

  
        <script src = "/static/dashboardOptions.js"></script>
        
    </body>
    </html>