<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/dashboardProducts.css">
      <script src="https://kit.fontawesome.com/243ba828f2.js" crossorigin="anonymous"></script>
    
      

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    

    <meta charset="UTF-8">
    <title>Products</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  

</head>
<body>

    <div class = "navbar-dashboard">
            <div class = "company"> 
                <div class = "company-logo">
                    
                </div>
                <div class = "company-name">
                    DOYDOY's BAKE SHOP
                </div>
            </div>
            <div class = "dashboard-menu">
                <div class="dashboard-menu-options">

                    <div class="d-menu-options-header">
                        <div class = "d-menu-options-icon">
                            
                            <i class="fa-sharp fa-solid fa-list white"></i>
                        </div>
                        <div class="d-menu-options-text-header">NAVIGATION</div>
                    </div>
                    <a href="/adminpannel"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            
                            <i class="fa-sharp fa-solid fa-desktop white"></i>
                        </div>
                        <div class="d-menu-options-text"> M a i n  &nbsp; D a s h</div>
                    </a>
                    <a href="/"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class=" fa-sharp fa-solid fa-box white"></i>
                        </div>
                        <div class="d-menu-options-text"> P r o d u c t s</div>
                    </a>
                    
                    <a href="/"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-boxes-packing white"></i>
                        </div>
                        
                        <div class="d-menu-options-text"> O r d e r s</div>
                    </a>


                    <a href="/"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-dollar-sign white"></i>
                        </div>
                        
                        <div class="d-menu-options-text"> E a r n i n g s</div>
                    </a>
                    




                    <a href="/"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-users white"></i>
                        </div>
                        
                        <div class="d-menu-options-text">A c c o u n t s</div>
                    </a>
                    
                    <a href="/dashboard/visitors"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-user-secret white"></i>
                        </div>
                        
                        <div class="d-menu-options-text">V i s i t o r s</div>
                    </a>
                    
                    <a href="/"class="d-menu-options">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-gears white"></i>
                        </div>
                        
                        <div class="d-menu-options-text"> O p t i o n s</div>
                    </a>
                    
        
                </div>
                    <a href ="/" class="d-menu-options-logout">
                        <div class = "d-menu-options-icon">
                            <i class="fa-sharp fa-solid fa-door-open white"></i>
                        </div>
                        
                        <div class="d-menu-options-text"> L O G &nbsp; O U T</div>
                    </a>

            </div>

        </div>
    <div class = "page">

        <div id="edit-product-modal">
            
            <form action="/dashboard/products/add" method="POST" enctype="multipart/form-data" id = "edit-product-form" class="add-product-form">
                <div class="input-fields-section">
                <div class = "input-text-product-name">
                    <div class ="header-product-name-label">
                        Product Name
                    </div>
                    <input class = "product-name" name="name" id = "name" type="text" required></input>

                </div>
                <div class = "input-text-product-description">
                    <div class ="header-product-name-label">
                        Description
                    </div>
                    <textarea class = "product-description" name="description" id="description" type="text" rows= "9" required ></textarea>

                </div> 
                <div class = "input-text-product-images">
                    <div class ="header-product-name-label">
                        Images
                    </div>
                    <div class = "photo-slider-container">
                        <!--
                        <div class="slider">
                             <i class="fa-sharp fa-solid fa-angle-left"></i>
                        </div> -->
                        <div class = "photo-upload">
                            <div id = "upload-delete" class = "photo-uploud-container-no-drag"> 
                                <div id="upload-delete-border" class="photo-upload-button pub">
                                    <i id = "upload-delete-logo" class="cloud-logo fa-sharp fa-solid fa-cloud-arrow-up"></i>
                                    <div id = "upload-delete-text"class="label-photo-upload">Upload</div>
                                </div>
                            </div>
                            <div class = "photo-uploud-container"> 
                                <img class="photo-upload-pic white-border" draggable="true">
                                </img>
                            </div>
                            <div class = "photo-uploud-container"> 
                                <img class="photo-upload-pic white-border" draggable="true">
                                </img>
                            </div>
                            <div class = "photo-uploud-container"> 
                                <img class="photo-upload-pic white-border"  draggable="true">
                                </img>
                            </div>
                            <div class = "photo-uploud-container"> 
                                <img class="photo-upload-pic white-border" draggable="true">
                                </img>
                            </div>
                            

                        </div>
                        <!---
                    <div class="slider">
                        <i class="fa-sharp fa-solid fa-angle-right"></i>
                    </div>

                    -->
                    </div>


                </div>
                <div class="category-price">
                    <div class = "input-text-product-price">
                        <div class ="header-product-name-label">
                            Price
                        </div>
                        <div class="price-currency">
                            <input class = "product-price" name = "price" id = "price" type="text"></input>
                            <select id = "currency" name = "currency" class = "currency-product" type="text" required>
                                <option value = "$">$USD</option>
                                <option value = "$">$CAD</option>
                                <option value = "₱">₱PESO</option>
                            </select>
                        </div>
                        

                    </div>    
                    <div class = "input-text-product-category">
                        <div class ="header-product-name-label">
                            Category
                        </div>
                        <select name ="productcategory" id = "product-category" class = "product-category"type="text" required>
             

                        </select>

                    </div>     
                </div>     

                <div class="options-quantity">
                    <div class = "option-list-header">

                        <div class = "input-text-quantity-per-box">
                            <div class ="header-product-name-label">
                                Per Box ( QTY in box)
                            </div>
                            <div class="price-currency">
                                <input class = "product-price" name = "perunit" id = "perunit" type="decimal" required></input>
                                <input   placeholder = "in box" class = "per-unit-badge"type="text" disabled></input>
                            </div>
                        </div>     
                        <div class ="header-product-name-label">
                            Options
                        </div>
                        <div class="option-list">
                            <input name = "available"id = "available" type="checkbox" >
                            <div class="label-checkbox">Available</div>
                        </div>
                        <div class="option-list">
                            <input name = "unlimitedQuantity" id = "unlimitedQuantity"type="checkbox" >
                            <div class="label-checkbox">Unlimited Quantity</div>
                        </div>
                                                <div class="option-list">
                            <input type="checkbox" >
                            <div class="label-checkbox">Option #1</div>
                        </div>
                                                <div class="option-list">
                            <input type="checkbox" >
                            <div class="label-checkbox">Option #2</div>
                        </div>
                        

                    </div>    
                    <div class = "input-text-product-quantity">
                        <div class="quantity-sec">
                            <div class ="header-product-name-label">
                                Quantity
                            </div>
                            <input name ="quantity" id = "quantity"class = "product-quantity"type="text"></input>
                        </div>
                        <div class="weight-sec">
                            <div class ="header-product-name-label">
                                Weight / Unit
                            </div>
                            <div class="weight-unit">
                                <input name ="productweight" id = "product-weight" class = "product-price"type="text"></input>
                                <select name ="weightunit"  placeholder = "LBS"class = "currency-product"type="text">
                                        <option value = "KG">KG</option>
                                        <option value = "LBS">LBS</option>
                                        <option value = "G">G</option>
                                </select>
                            </div>
                        </div>
                        
                        
                    </div>     
                </div>     

            </div>

            <div class="save">
                                <div class ="edit-button-group">

                                    <button id = "cancel-edit-button" class = "cancel-edit-button">
                                      
                                        <div class = "filter-product-button-text">Cancel</div>
                                    </button>

                                    <button id = "delete-edit-button" class = "delete-edit-button">
                                      
                                        <div class = "filter-product-button-text">Delete</div>
                                    </button>

                                    <button type = "submit" id = "edit-product-button" class = "save-edit-button">
                                       
                                        <div class = "add-product-button-text">Save</div>
                                    </button>


                                </div>
                </div>
            </form>
           



        </div>




        <div class="dashcontent-update">
            <div class = "header-update">
                <div class = "divider-header">

                <div class = "circle ">

                </div>
                <div class = "header-options-logo"> 
                    Products
                </div>



                </div> 
            </div> 



                <div class="dashchart">
                        <div class ="table-header-full">
                            <div class = "table-header-upper"> 
                                <div class ="table-header-text-group">
                                   <div class ="table-header-text-main">A L L &nbsp; P R O D U C T S</div> 
                                   <div class ="table-header-text-lower-result-filter"> 
                                        <div class ="results">{{product.length}} Results</div>
                                        <div class ="filters">Filters: none</div>
                                    </div> 
                                </div> 
                                <div class ="button-group">
                                    <div class = "dropdown">
                                        <button id = "filter-product-button" class = "filter-product-button">
                                            <i class="fa-solid fa-filter"></i>
                                            <div class = "filter-product-button-text">Filters</div>
                                        </button>
                                        <div class ="dropdown-list">
                                            <div class="filter-container">
                                                <div class = "modal-header-category">
                                                    Filter
                                                </div>
                                                

                                                    <div class = "search">
                                                        <div class ="header-product-name-label">
                                                            Search by :
                                                        </div>
                                                        <div class="search-option">
                                                            <select name = "" id="search-options" class = "search-options" type="text" required>
                                                                <option value = "id">ID</option>
                                                                <option value = "name">Name</option>
                                                            </select>
                                                            <input id = "search-word" class = "search-word" type="text"></input>

                                                        </div>                                                       
                                                    </div>
                                                    <div class = "category-list">
                                                        <div class ="header-product-name-label">
                                                            Categories
                                                        </div>
                                                        <div id = "categories" class="categories">

                                                        </div>
                                                        

                                                    </div>

                                                    <div class = "category-list">
                                                        <div class ="header-product-name-label">
                                                            Options
                                                        </div>
                                                        <div class="categories">
                                                            <div class="option-list-filter">
                                                                <input value = "Unlimited Quantity" name = "qtyunlmtd" class= "input-filter" type="checkbox" >
                                                                <div class=" label-checkbox-filter">Unlimited Quantity</div>
                                                            </div>
                                                            <div class="option-list-filter">
                                                                <input value = "Available" name = "available" class= "input-filter" type="checkbox" >
                                                                <div class="label-checkbox-filter">Available</div>
                                                            </div>
                                                            <div class="option-list-filter">
                                                                <input value = "Limited Quantity" name = "qtyunlmtd" class= "input-filter" type="checkbox" >
                                                                <div class=" label-checkbox-filter">Limited Quantity</div>
                                                            </div>
                                                            <div class="option-list-filter">
                                                                <input value = "Unavailable" name = "available" class= "input-filter" type="checkbox" >
                                                                <div class="label-checkbox-filter">Unavailable</div>
                                                            </div>
                                                        </div>
                                                        

                                                    </div>
                                                
                                            </div>
                                      


                                        </div>
                                    </div>

                                    <button id = "add-product-button" class = "add-product-button">
                                        <i class="fa-solid fa-plus"></i>
                                        <div class = "add-product-button-text">Product</div>
                                    </button>


                                </div>
                            </div>
                            <div class="table-header-all">
                                <div class="table-header-products-start-end center-text"></div>
                                <div class="table-header-products center-text">ID</div>
                                <div class="table-header-products center-text">Name</div>
                                <div class="table-header-products center-text">Description</div>
                                <div class="table-header-products center-text">Unlimited Quantity</div>
                                <div class="table-header-products center-text">Quantity</div>
                                <div class="table-header-products center-text">Category</div>
                                <div class="table-header-products center-text">Price</div>
                                <div class="table-header-products center-text">weight/unit</div>
                                <div class="table-header-products center-text">Available</div>
                                <div class="table-header-products-start-end end-text"></div>
                            </div>
                        </div>

                    <div class="login-rows">
                        {{#each product}}
                        <div class="each-user">
                            <div id='{{this.dataValues.Stock.dataValues.id}}-image' class="equal-log-columns-products-start-end begin-text image-row">
                               {{#each this.dataValues.Images}}
                                    {{#if this.dataValues.main}}
                                    <img class = "image-product" src = '{{this.dataValues.path}}'></img>
                                    {{/if}}
                               {{/each}}
                                </div>
                            <div id='{{this.dataValues.Stock.dataValues.id}}-id' class="id-row equal-log-columns-products center-text">
                                {{this.dataValues.Stock.dataValues.id}}</div>

                            <div id='{{this.dataValues.Stock.dataValues.id}}-name' class="name-row equal-log-columns-products center-text  ">
                               {{this.dataValues.productName}}</div>
                            
                            <div id='{{this.dataValues.Stock.dataValues.id}}-description' data-value = '{{this.dataValues.description}}' class="-row equal-log-columns-description center-text ">
                               view </div>
                            <div id='{{this.dataValues.Stock.dataValues.id}}-qtyunlmtd' class="qtyunlmtd-row equal-log-columns-products center-text userAgent">
                                {{#if this.dataValues.Stock.dataValues.unlimitedQuantity}}
                                    Unlimited Quantity
                                {{else}}
                                    Limited Quantity
                                {{/if}}
                               </div>  
                            <div id='{{this.dataValues.Stock.dataValues.id}}-quantity' class="quantity-row equal-log-columns-products center-text ">
                                {{#if this.dataValues.Stock.dataValues.unlimitedQuantity }}
                                    N/A
                                {{else}}
                                    {{#if this.dataValues.Stock.dataValues.available}}
                                        {{this.dataValues.Stock.dataValues.quantity}}
                                    {{else}}
                                        N/A
                                    {{/if}}    
                                {{/if}}
                                </div> 
                            
                            <div id='{{this.dataValues.Stock.dataValues.id}}-category' class="category-row equal-log-columns-products center-text ">
                                {{#if this.dataValues.Category}}
                                        {{this.dataValues.Category}}
                                {{else}}
                                    N/A
                                {{/if}}
                                </div>       


                            <div id='{{this.dataValues.Stock.dataValues.id}}-price' class="price-row equal-log-columns-products center-text  bank">
                                 {{this.dataValues.currency}}{{this.dataValues.price}}</div>
                                
                            <div id='{{this.dataValues.Stock.dataValues.id}}-weight-unit' class="equal-log-columns-products center-text userAgent">
                                    {{this.dataValues.weight}}/{{this.dataValues.unit}}
                               </div>


                            <div id='{{this.dataValues.Stock.dataValues.id}}-available' class="availabe-row equal-log-columns-products center-text">
                                {{#if this.dataValues.Stock.dataValues.available}}
                                    Available
                                {{else}}
                                    Unavailable
                                {{/if}}</div>
                            <div class="equal-log-columns-products-start-end center-text address">
                                <i id = '{{this.dataValues.Stock.dataValues.id}}-edit'class="edit-button fa-solid fa-pen-to-square changecolor"></i></div>
                        </div>
                        {{/each}}
                    

                    </div>
                        

                </div>
        </div>
    </div>
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/static/dashboardProducts.js"></script>
    </body>
    </html>